{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

{% if created %}
  <br>
  <h2>Assignment has been graded</h2><br>
  <a href="{% url 'assignments:submission' %}" class="btn btn-primary">Go back to the submissions page</a>
  {% else %}
<br>
<h5>Student ID:  {{submission.user.username}}</h4>
<h5>Student Name: {{submission.user.first_name}} {{submission.user.last_name}}</h5><br>



  <form class="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" name="" value="Grade" class="btn btn-primary">
  </form>
  {% endif %}


{% endblock %}